<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>
      {% block title %}
        Welcome!
      {% endblock %}
    </title>
    {% block stylesheets %}

    {% endblock %}
  </head>

  {% set filter = app.session.get('filter') %}
  {% set user_filter = filter['User'] %}
  
  <body>
    {% block body %}
      {% block Head %}
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          rel="stylesheet"
          id="bootstrap-css" />
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% endblock %}
      {% block Header %}
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="#">Webpaper.site</a>
          <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#main_nav"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="main_nav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item"><a class="nav-link" href="#">About</a></li>
              
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/ao-webshop/product" data-toggle="dropdown">
                  Products
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Submenu item 1</a></li>
                  <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
                  <li><a class="dropdown-item" href="#">Submenu item 3</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Contact</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto">
              {% if user_filter == '' %}
                <li class="nav-item">
                  <a class="nav-link" href="/ao-webshop/account">Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Shoppingcart</a>
                </li>
              {% else %}    
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"><strong>{{ user_filter }}</strong></a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a class="dropdown-item" href="#">Shoppingcart</a></li>
                  <li><a class="dropdown-item" href="#{#/ao-webshop/account/logout#}">Logout</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
          </div> <!-- navbar-collapse.// -->
        </nav>
      {% endblock %}

      {% block Content %}

      {% endblock %}

      {% block Footer %}
    <section class="container-full footer">
<svg id="anglesvg" viewBox="0 0 1440 60" xmlns="http://www.w3.org/2000/svg"><path d="M720 60l720-60H0z" fill="#187fdd"></path></svg>
<div class="container grid-xl footer-contents mb-0">
<div class="columns text-center">
<div class="column col-12">
<img style="max-width: 10%; min-width: 150px; opacity: 0.7;" src="https://teaguns.github.io/odin/assets/logo.png">
<div class="footer-social my-4">
<a href="https://www.twitter.com/TheTeaGuns" target="_blank"><i class="fab fa-twitter"></i></a>
<a href="https://github.com/TeaGuns" target="_blank"><i class="fab fa-github"></i></a>
<a href="mailto:m@credd.in"><i class="far fa-envelope" target="_blank"></i></a>
</div>
<p>© 2020 All rights reserved.</p>
<a class="text-small" href="#" target="_blank">Powered by Webpaper.site</a>
</div>
</div>
</div>
</section>
      {% endblock %}
    {% endblock %}
    {% block javascripts %}

    {% endblock %}

    <style>
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary {
        margin-bottom: 4em;
    }

    @media all and (min-width:992px) { 
        .navbar .nav-item .dropdown-menu{ 
            display: none; 
        } 
        .navbar .nav-item:hover .nav-link{
            color: #fff; 
        } 
        .navbar .nav-item:hover .dropdown-menu{
            display: block; 
        }
        .navbar .nav-item .dropdown-menu{
            margin-top:0; 
        } 
    }

    section.container-full.footer {
        margin-top: 4em;
    }

    .footer {
        background: #2b2c34;
        padding: 0 0 100px;
    }
    #anglesvg {
        display: block;
    }
    svg:not(:root) {
        overflow: hidden;
    }
    .footer .footer-contents {
        padding-top: 80px;
    }
    .container.grid-xl {
        max-width: 1096px;
    }
    .container {
        margin-left: auto;
        margin-right: auto;
        padding-left: .4rem;
        padding-right: .4rem;
        width: 100%;
    }
    .mb-0 {
        margin-bottom: 0 !important;
    }
    .my-4 {
        margin-bottom: .8rem !important;
        margin-top: .8rem !important;
    }
    .footer .footer-contents .footer-social a {
        display: inline-block;
        font-size: 1.5em;
    }
    .footer a {
        color:#fffffe;
        display:block;
    }
    .footer a:hover {
        color:#3498db;
        cursor:pointer;
    }
    .footer .fab:before,.footer .far:before {
        font-style:normal;
        font-weight:400;
        speak:none;
        display:inline-block;
        text-decoration:inherit;
        width:1em;
        margin-right:.2em;
        text-align:center;
        font-variant:normal;
        text-transform:none;
        line-height:1em;
        margin-left:.2em;
    }
    .footer p {
        color: #d7d8e1;
        font-size: 0.8em;
        margin: 15px 0;
    }
    .text-small {
        font-size: 0.8em;
        font-weight:800;
    }
    .text-small:hover {
        text-decoration:none;
    }
    </style>
  </body>
</html>
